div {
  background: url('../../../assets/images/cardinals-banner-responsive.jpg') no-repeat fixed center center;
  background-size: cover;
  background: transparent;
  height: 100vh;
}

@media(min-width: 501px) {
  div {
    background: url('../../../assets/images/cardinals-banner.jpg') no-repeat fixed center center;
    background-size: cover;
    height: 100vh;
  }
}

