//div {
//  background: url('../../../assets/images/cardinals-banner-responsive.jpg') no-repeat fixed center center;
//  background-size: cover;
//  background: transparent;
//  height: 100vh;
//}

//div::before {
//  content: ' ';
//  display: block;
//  background-image: url('../../../assets/images/cardinals-banner.jpg');
//  background-position: center;
//  background-size: cover;
//  height: 100vh;
//  width: 100vw;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  position: fixed;
//  z-index: -10; // This is pretty important.
//}



div:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('../../../assets/images/cardinals-banner-responsive.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (min-width: 501px) {
  div:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url('../../../assets/images/cardinals-banner.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

div {
  height: 100vh;
}



