<nav id="nav-bar" class="container">
  <div class="container flex-container">
    <a routerLink="/" class="title">NJ Cardinals Baseball</a>
    <div class="menu">
      <ul>
        <li><a routerLink="/calendar" routerLinkActive="active" class="navMenuItem"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span class="nav-text">Calendar</span></a></li>
        <li><a routerLink="/donate" routerLinkActive="active" class="navMenuItem"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="nav-text">Donate</span></a></li>
        <li><a class="navMenuItem" href="https://www.facebook.com/clubcardinalsbaseball/" target="_blank"><img
          src="../../assets/images/facebook-icon.png" class="navIcon"/></a></li>
      </ul>
    </div>
  </div>
</nav>


