h2 {
  margin-bottom: 30px;
  display: flex;
}
h2:before,
h2:after {
  color: white;
  content: '';
  flex: 1;
  border-bottom: groove 2px;
  margin: auto 1.25em;
  box-shadow: 0 -1px;
}
@media only screen and (max-width: 800px) {
  h2 {
    font-size: 22px;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}
