div {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  .info {
    flex-direction: column;
    p {
      margin: 0;
    }
    img {
      display: block;
      width: 200px;
    }
  }

  .bio {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 16px;
  }

  .name{
    font-weight: bold;
  }

  .email, .phone, .position{
    font-size: 12px;
  }
}

.coachImage {
  margin: 0 auto;
  max-width: 180px;
}

@media only screen and (max-width: 800px) {
  .coachImage {
    margin: 0 auto;
    max-width: 120px;
  }
}
