@import '../../palette.scss';

$nav-height: 50px;

.navMenuItem {
  text-decoration: none;
  color: cards-color('foreground');
  text-align: center;
  vertical-align: middle;
  line-height: $nav-height;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#nav-bar {
  width: 100%;
  height: $nav-height;
  background-color: cards-color('primary');
  color: cards-color('foreground');
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 100;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .title {
    flex-shrink: 1;
    text-decoration: none;
    color: cards-color('foreground');
    text-align: center;
    vertical-align: middle;
    line-height: $nav-height;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 1.2em;
  }

  .menu {
    text-align: right;
    flex: 1;
    flex-direction: column;
    ul {
      list-style-type: none;
      padding-left: 10px;
      li {
        * > :first-child {
          margin-left: 0 !important;
        }
        margin-left: 3%;
        display: inline-block;
      }
    }
  }
}

.active {
  font-weight: bold;
}

.navIcon {
  height: 20px;
}

.glyphicon {
  margin-right: 10px;
}

@media (max-width: 500px) {
  .nav-text{
    display: none;
  }
}
