@import '../../palette.scss';

$nav-height: 50px;

.navMenuItem {
  text-decoration: none;
  color: cards-color('foreground');
  text-align: center;
  vertical-align: middle;
  line-height: $nav-height;
  text-shadow: black 0.1em 0.1em 0.2em;
}

nav {
  width: 100%;
  height: $nav-height;
  background-color: cards-color('primary');
  color: cards-color('foreground');

  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;

  div {
    display: flex;
    flex-direction: row;

    .title {
      flex-shrink: 1;
      text-decoration: none;
      color: cards-color('foreground');
      text-align: center;
      vertical-align: middle;
      line-height: $nav-height;
      text-shadow: black 0.1em 0.1em 0.2em;
      font-size: 16px;
    }

    .menu {
      text-align: right;
      flex-grow: 1;

      ul {
        list-style-type: none;

        li {
          margin-left: 25px;
          display: inline-block;
        }
      }
    }
  }
}

.active {
  font-weight: bold;
}

.navIcon{
  height: 20px;
}
