<nav>
  <div class="container">
    <a routerLink="/" class="title">NJ Cardinals Baseball</a>
    <div class="menu">
      <ul>
        <li><a routerLink="/calendar" routerLinkActive="active" class="navMenuItem">Calendar</a></li>
        <li><a routerLink="/donate" routerLinkActive="active" class="navMenuItem">Donate</a></li>
        <li><a class="navMenuItem" href="https://www.facebook.com/clubcardinalsbaseball/" target="_blank"><img
          src="./assets/images/facebook-icon.png" class="navIcon"/></a></li>
      </ul>
    </div>
  </div>
</nav>


