.donateFixedBackgroundImage {
  background: url('../../assets/images/donate-blur.jpg') no-repeat fixed center top;
  background-size: cover;
  min-height: 100%;
}

@media only screen and (max-width: 800px) {
  .donateFixedBackgroundImage {
    background-size: cover;
    background: url('../../assets/images/donate-blur.jpg') no-repeat scroll top center;
    min-height: 100%;
  }
}

.textOver {
  color: white;
  font-weight: bold;
  font-size: 100px;
  margin-top: 100px;
  text-shadow: 2px 2px #000000;
}
.textOverSubText {
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin-top: -40px;
  text-shadow: 2px 2px #000000;
}
.textOverParagraph {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 40px;
  text-shadow: 2px 2px #000000;
  margin-botton: 100px;
}
@media only screen and (max-width: 800px) {
  .textOver {
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin-top: 100px;
    text-shadow: 2px 2px #000000;
  }
  .textOverSubText {
    color: white;
    font-weight: bold;
    font-size: 28px;
    margin-top: -20px;
    text-shadow: 2px 2px #000000;
  }
  .textOverParagraph {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    text-shadow: 2px 2px #000000;
    margin-botton: 100px;
  }
}
