<div class="calendarBackgroundImage">
  <div class="container responsiveCal">
    <iframe
      src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=j5rojkrhisj3b8qh9ghvjkvlp8%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FDenver"
      style="border: 0;" frameborder="0" scrolling="yes"></iframe>
    <!--<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=j5rojkrhisj3b8qh9ghvjkvlp8%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FDenver" style="border: 0; frameborder=" 0"="" scrolling="yes"></iframe>-->
  </div>
</div>
